[color]
	ui = true
[push]
	default = current
[gui]
	fontui = -family \"DejaVu Sans\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[gc]
	auto = 0
[include]
        path = ~/.gitconfig-local
[pull]
	ff = only
[init]
	defaultBranch = main
