# Unpublished parts (see *-template files)
/emacs/.emacs.d/gnus-personal.el
/emacs/.emacs.d/mail-personal.el

# Files and directories handled by Emacs itself
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/tramp
/emacs/.emacs.d/opam-user-setup.el
/emacs/.emacs.d/semanticdb/
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/org-roam.db
/emacs/.emacs.d/custom.el

# Emacs backup files
*~

# XMonad
/xmonad/.xmonad/xmonad-x86_64-linux
/xmonad/.xmonad/xmonad.errors
/xmonad/.xmonad/xmonad.hi
/xmonad/.xmonad/xmonad.o
